extends layout
block content
        .row.equal-panels
            .col-xs-12
                .panel.panel-default 
                    .panel-heading 
                    .panel-body 
                        .row.equal-panels
                            .col-xs-6
                                .panel.panel-default 
                                    .panel-heading MAMOM
                                    .panel-body
                                        a(href='mamom')
                                            img(src='img/mamom.png' style='height: 100%; width: 100%; object-fit: contain')
                            .col-xs-6
                                .panel.panel-default 
                                    .panel-heading WERNHER WON
                                    .panel-body
                                        a(href='wernher')
                                            img(src='img/v2.png' style='height: 100%; width: 100%; object-fit: contain')

        .row.equal-panels
            .col-xs-12
                .panel.panel-default 
                    .panel-heading 
                    .panel-body 
                        .row.equal-panels
                            .col-xs-6
                                .panel.panel-default 
                                    .panel-heading DICTATORS LIKE US
                                    .panel-body
                                        a(href='dlu')
                                            img(src='img/dlu.png' style='height: 100%; width: 100%; object-fit: contain')
                            .col-xs-6
                                .panel.panel-default 
                                    .panel-heading SANDGODS STONED
                                    .panel-body
                                        img(src='img/ss.png' style='height: 100%; width: 100%; object-fit: contain')
                                      
                        

