extends layout

block content
    .row.equal-panels
        .col-xs-12
            .panel.panel-default 
                .panel-heading SICUT NOS TOT DICTATORUM - FUGERE DE NAVI
                .panel-body 
                    .row.equal-panels
                        .col-xs-6
                            .panel.panel-default 
                                .panel-heading QUID
                                .panel-body
                                    h4.red 
                                    img(src='img/dlu.png' style='height: 100%; width: 100%; object-fit: contain')
                        .col-xs-6
                            .panel.panel-default 
                                .panel-heading OMS
                                .panel-body.b
                                    stuff here about dictators
    .row
        .col-xs-4
            .panel.panel-default
                .panel-heading AFFLICTUS
                .panel-body
                    img.card-img-top(src='img/dado.png' width="200" heigth="200" alt='Card image cap')
        .col-xs-4
            .panel.panel-default
                .panel-heading DE ABSENTIA
                .panel-body
                    img.card-img-top(src='img/dado.png' width="200" heigth="200" alt='Card image cap')
        .col-xs-4
            .panel.panel-default
                .panel-heading VI OPUS
                .panel-body
                    img.card-img-top(src='img/dado.png' width="200" heigth="200" alt='Card image cap')
                    