extends layout
block content
        .row.equal-panels
            .col-xs-12
                .panel.panel-default 
                    .panel-heading 
                    .panel-body 
                        .row.equal-panels
                            .col-xs-6
                                .panel.panel-default 
                                    .panel-heading CuRuM1N
                                    .panel-body
                                        #mamom.carousel.slide(data-ride='carousel')
                                            // Indicators
                                            ol.carousel-indicators
                                                li.active(data-target='#mamom' data-slide-to='0')
                                                li(data-target='#mamom' data-slide-to='1')
                                                li(data-target='#mamom' data-slide-to='2')
                                            // Wrapper for slides
                                            .carousel-inner
                                                .item.active 
                                                   img(src='img/curumim/01.png' alt='')
                                                .item
                                                    img(src='img/curumim/02.png' alt='')
                                                .item
                                                    img(src='img/curumim/03.png' alt='')
                                                .item
                                                    img(src='img/curumim/04.png' alt='')
                                                .item
                                                    img(src='img/curumim/05.png' alt='')
                                                .item
                                                    img(src='img/curumim/06.png' alt='')
                                                .item
                                                    img(src='img/curumim/07.png' alt='')                                                    
                                                .item
                                                    img(src='img/curumim/09.png' alt='')
                                                .item
                                                    img(src='img/curumim/10.png' alt='')     
                                                .item
                                                    img(src='img/curumim/11.png' alt='')                                                    
                                                .item
                                                    img(src='img/curumim/12.png' alt='')
                                                .item
                                                    img(src='img/curumim/13.png' alt='') 
                                            // Controls
                                            a.left.carousel-control(href='#mamom' role='button' data-slide='prev')
                                                span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                                                span.sr-only Previous
                                            a.right.carousel-control(href='#mamom' role='button' data-slide='next')
                                                span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                                                span.sr-only Next
                            .col-xs-6
                                .panel.panel-default 
                                    .panel-heading 1C3.CRYST4LS
                                    .panel-body
                                        #v2.carousel.slide(data-ride='carousel')
                                            // Indicators
                                            ol.carousel-indicators
                                                li.active(data-target='#v2' data-slide-to='0')
                                                li(data-target='#v2' data-slide-to='1')
                                                li(data-target='#v2' data-slide-to='2')
                                            // Wrapper for slides
                                            .carousel-inner
                                                .item.active 
                                                   img(src='img/ice/01.png' alt='')
                                                .item
                                                    img(src='img/ice/02.png' alt='')
                                                .item
                                                    img(src='img/ice/03.png' alt='')
                                                .item
                                                    img(src='img/ice/04.png' alt='')
                                                .item
                                                    img(src='img/ice/05.png' alt='')
                                                .item
                                                    img(src='img/ice/06.png' alt='')
                                                .item
                                                    img(src='img/ice/07.png' alt='')                                                    
                                                .item
                                                    img(src='img/ice/09.png' alt='')
                                                .item
                                                    img(src='img/ice/10.png' alt='')     
                                                .item
                                                    img(src='img/ice/11.png' alt='')                                                    
                                                .item
                                                    img(src='img/ice/12.png' alt='')
                                            // Controls
                                            a.left.carousel-control(href='#v2' role='button' data-slide='prev')
                                                span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                                                span.sr-only Previous
                                            a.right.carousel-control(href='#v2' role='button' data-slide='next')
                                                span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                                                span.sr-only Next
        .row.equal-panels
            .col-xs-12
                .panel.panel-default 
                    .panel-heading 
                    .panel-body 
                        .row.equal-panels
                            .col-xs-6
                                .panel.panel-default 
                                    .panel-heading P0RTR41TS
                                    .panel-body
                                        #dlu.carousel.slide(data-ride='carousel')
                                            // Indicators
                                            ol.carousel-indicators
                                                li.active(data-target='#dlu' data-slide-to='0')
                                                li(data-target='#dlu' data-slide-to='1')
                                                li(data-target='#dlu' data-slide-to='2')
                                            // Wrapper for slides
                                            .carousel-inner
                                                .item.active 
                                                   img(src='img/dlu/01.png' alt='')
                                                .item
                                                    img(src='img/dlu/02.png' alt='')
                                                .item
                                                    img(src='img/dlu/03.png' alt='')
                                                .item
                                                    img(src='img/dlu/04.png' alt='')
                                                .item
                                                    img(src='img/dlu/05.png' alt='')
                                                .item
                                                    img(src='img/dlu/06.png' alt='')
                                                .item
                                                    img(src='img/dlu/07.png' alt='')                                                    
                                                .item
                                                    img(src='img/dlu/08.png' alt='')                                                    
                                                .item
                                                    img(src='img/dlu/09.png' alt='')
                                                .item
                                                    img(src='img/dlu/10.png' alt='')     
                                                .item
                                                    img(src='img/dlu/11.png' alt='')                                                    
                                                .item
                                                    img(src='img/dlu/12.png' alt='')
                                                .item
                                                    img(src='img/dlu/13.png' alt='') 
                                            // Controls
                                            a.left.carousel-control(href='#dlu' role='button' data-slide='prev')
                                                span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                                                span.sr-only Previous
                                            a.right.carousel-control(href='#dlu' role='button' data-slide='next')
                                                span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                                                span.sr-only Next
                            .col-xs-6
                                .panel.panel-default 
                                    .panel-heading E4ST3R.G0DS
                                    .panel-body
                                        #tnf.carousel.slide(data-ride='carousel')
                                            // Indicators
                                            ol.carousel-indicators
                                                li.active(data-target='#tnf' data-slide-to='0')
                                                li(data-target='#tnf' data-slide-to='1')
                                                li(data-target='#tnf' data-slide-to='2')
                                            // Wrapper for slides
                                            .carousel-inner
                                                .item.active 
                                                   img(src='img/tnf/01.png' alt='')
                                                .item
                                                    img(src='img/tnf/02.png' alt='')
                                                .item
                                                    img(src='img/tnf/03.png' alt='')
                                                .item
                                                    img(src='img/tnf/04.png' alt='')
                                                .item
                                                    img(src='img/tnf/05.png' alt='')
                                            // Controls
                                            a.left.carousel-control(href='#tnf' role='button' data-slide='prev')
                                                span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                                                span.sr-only Previous
                                            a.right.carousel-control(href='#tnf' role='button' data-slide='next')
                                                span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                                                span.sr-only Next