extends layout
block content
    .container
        .row.equal-panels
            .col-xs-12
                .panel.panel-default 
                    .panel-heading 
                    .panel-body 
                        .row.equal-panels
                            .col-xs-6
                                .panel.panel-default 
                                    .panel-heading CURUMIM
                                    .panel-body

                                    .panel-footer 


                            .col-xs-6
                                .panel.panel-default 
                                    .panel-heading WERNHER WON
                                    .panel-body
                                        img(src='img/v2.png' style='height: 100%; width: 100%; object-fit: contain')

        .row.equal-panels
            .col-xs-12
                .panel.panel-default 
                    .panel-heading 
                    .panel-body 
                        .row.equal-panels
                            .col-xs-6
                                .panel.panel-default 
                                    .panel-heading FACES
                                    .panel-body
                                        h4.red 
                                        img(src='img/osboa.png' style='height: 100%; width: 100%; object-fit: contain')
                            .col-xs-6
                                .panel.panel-default 
                                    .panel-heading SANDGODS STONED
                                    .panel-body
                                        img(src='img/ss.png' style='height: 100%; width: 100%; object-fit: contain')
                                      
                        

