extends layout
block content
    .container
        .row.equal-panels
            .col-xs-12
                .panel.panel-default 
                    .panel-heading CÆCUS M3ND1C4N5 - 0MN14 FLuM1N4 1NTR4NT 1N M4R3
                    .panel-body 
                        .row.equal-panels
                            .col-xs-6
                                .panel.panel-default 
                                    .panel-heading QU1D
                                    .panel-body
                                        h4.red 
                                        img(src='img/row100.png' style='height: 100%; width: 100%; object-fit: contain')
                            .col-xs-6
                                .panel.panel-default 
                                    .panel-heading 0M5
                                    .panel-body.b
                                        p (semper)<br />tyler: sounds / neumann: xy voice / eliot: words
                                        p (saepe)<br />manzena: bass / squirrel: acoustic guitars
                                        p (numquam)<br />taylor, smith: xx voice
                        .row.equal-panels
                            .col-xs-12
                                .panel.panel-default 
                                    .panel-heading QU0
                                    .panel-body
                                        p if you play music as if your heart was going to break, they who listen might be able to feel it too 


