doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
      link(href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel='stylesheet')
      link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet")
      link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css")
      link(rel='stylesheet', href='/css/style.css')
      link(rel='stylesheet', href='/css/blue-footer.css')

      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
      script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
      script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js")
    block js

  body
    .panel.panel-default
      .panel-heading Register Device
      .panel-body        
        form(action='/', method='post')
          fieldset
            .form-group.row
              .col-sm-2
                label Device Id
                input.form-control(type='text', name='deviceId' required) 
              .col-sm-2
                label Tenant Id
                input.form-control(type='text', name='tenantId' required)
              .col-sm-5
                label IoT Hub
                select.selectpicker.form-control(name='custIdx')
                  each customer, i in customerList
                    option(value=i) #{customer}
            .form-group-row
              .col-sm-2
                button.btn.btn-default(type='submit') register »       





    
