extends layout

block content
    .row.equal-panels
        .col-xs-12
            .panel.panel-default 
                .panel-heading MAXIME TABULA MEMET - EXHALANT ET INHALANTES, NON CONFLARE
                .panel-body 
                    .row.equal-panels
                        .col-xs-6
                            .panel.panel-default 
                                .panel-heading QUID
                                .panel-body
                                    h4.red 
                                    img(src='img/ss.png' border style='height: 100%; width: 100%; object-fit: contain')
                        .col-xs-6
                            .panel.panel-default 
                                .panel-heading OMS
                                .panel-body.b
                                    stuff here about sandgods, stoned
    .row.equal-panels
        .col-xs-4
            .panel.panel-default
                .panel-heading KAUA'I - CLONED
                .panel-body
                    iframe(width='100%' height='166' scrolling='no' frameborder='no' allow='autoplay' src='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/746521135&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true')
        .col-xs-4
            .panel.panel-default
                .panel-heading FERRO PULVIS
                .panel-body
                    iframe(width='100%' height='166' scrolling='no' frameborder='no' allow='autoplay' src='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/815411596&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true')
        .col-xs-4
            .panel.panel-default
                .panel-heading MAL MUNUS
                .panel-body
                    iframe(width='100%' height='166' scrolling='no' frameborder='no' allow='autoplay' src='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/6153359%3Fsecret_token%3Ds-cCv5q&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true')
