extends layout

block content
    .row.equal-panels
        .col-xs-12
            .panel.panel-default 
                .panel-heading CIBO DIURNA - PASCHA EST FABULA
                .panel-body 
                    .row.equal-panels
                        .col-xs-6
                            .panel.panel-default 
                                .panel-heading QUID
                                .panel-body
                                    h4.red 
                                    img(src='img/tnf.png' style='height: 100%; width: 100%; object-fit: contain')
                        .col-xs-6
                            .panel.panel-default 
                                .panel-heading OMS
                                .panel-body.b
                                    stuff here about the new feed
    .row.equal-panels
        .col-xs-4
            .panel.panel-default
                .panel-heading THOR
                .panel-body
                    iframe(width='100%' height='166' scrolling='no' frameborder='no' allow='autoplay' src='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/798118108&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true')
        .col-xs-4
            .panel.panel-default
                .panel-heading SATURNUS
                .panel-body
                    iframe(width='100%' height='166' scrolling='no' frameborder='no' allow='autoplay' src='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/799831720&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true')
        .col-xs-4
            .panel.panel-default
                .panel-heading SOL
                .panel-body
                    iframe(width='100%' height='166' scrolling='no' frameborder='no' allow='autoplay' src='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/800640961&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true')
