extends layout

block content
    .row.equal-panels
        .col-xs-12
            .panel.panel-default
                .panel-heading CIBO DIURNA - PASCHA EST FABULA
                .panel-body
                    img.card-img-top(src='img/tnf100.png' width="200" heigth="200" alt='Card image cap')
    .row.equal-panels
        .col-xs-4
            .panel.panel-default
                .panel-heading THOR
                .panel-body
                    img.card-img-top(src='img/thor.png' width="200" heigth="200" alt='Card image cap')
        .col-xs-4
            .panel.panel-default
                .panel-heading FREJA
                .panel-body
                    img.card-img-top(src='img/freja.png' width="200" heigth="200" alt='Card image cap')
        .col-xs-4
            .panel.panel-default
                .panel-heading SATURNUS
                .panel-body
                    img.card-img-top(src='img/saturnus.png' width="200" heigth="200" alt='Card image cap')
    .row.equal-panels
        .col-xs-4
            .panel.panel-default
                .panel-heading SOL
                .panel-body
                    img.card-img-top(src='img/sun.png' width="200" heigth="200" alt='Card image cap')
        .col-xs-4
            .panel.panel-default
                .panel-heading LUNA
                .panel-body
                    img.card-img-top(src='img/luna.png' width="200" heigth="200" alt='Card image cap')