extends layout

block content
    .row.equal-panels
        .col-xs-12
            .panel.panel-default 
                .panel-heading WERNHER VINCIT - SUSPENDISSE FUTURUM FUTURUM
                .panel-body 
                    .row.equal-panels
                        .col-xs-6
                            .panel.panel-default 
                                .panel-heading QUID
                                .panel-body
                                    h4.red 
                                    img(src='img/v2.png' style='height: 100%; width: 100%; object-fit: contain')
                        .col-xs-6
                            .panel.panel-default 
                                .panel-heading OMS
                                .panel-body.b
                                    stuff here about v2
    .row
        .col-xs-4
            .panel.panel-default
                .panel-heading PUTUS CANTICUS
                .panel-body
                    iframe(width='100%' height='166' scrolling='no' frameborder='no' allow='autoplay' src='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/288790019&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true')
        .col-xs-4
            .panel.panel-default
                .panel-heading NOS BIPLEX NIHIL
                .panel-body
                    img.card-img-top(src='img/dado.png' width="200" heigth="200" alt='Card image cap')
        .col-xs-4
            .panel.panel-default
                .panel-heading CAVUM NIGRUM
                .panel-body
                    img.card-img-top(src='img/dado.png' width="200" heigth="200" alt='Card image cap')
                    
        
